body {
  background-color: aliceblue;
}

.recipe-image {
  width: 300px;
  height: auto;
  border: 2px solid;
  border-radius: 15px;
  border-color: black;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 300px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}