body {
  background-color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  color: white;
  background-color: rgb(46, 46, 69);
  padding: 10px;
  text-align: center;
}

.recipe-image,
.food-image {
  width: 300px;
  height: auto;
  border: 2px solid;
  border-color: black;
}

.recipe-image {
  border-radius: 15px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 300px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.food-image {
  width: 300px;
  height: auto;
}

.go-back {
  color: aliceblue;
}